@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8085ff;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b0b5ff;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  body {
    @apply font-inter bg-black text-white;
  }
}

.section {
  @apply bg-gray rounded-md p-2 sm:p-5;
}

.section-fixed-padding {
  @apply bg-gray rounded-md p-5;
}

.dark-item {
  @apply bg-black rounded-md;
}

.page-title {
  @apply font-bold text-xl sm:text-2xl;
}

.section-title {
  @apply font-bold text-lg md:text-xl;
}

.icon {
  @apply h-6 w-6 text-blue hover:text-cayn transition-colors;
}

.big-icon {
  @apply h-8 w-8 text-blue hover:text-cayn transition-colors;
}

.hover-text {
  @apply hover:text-cayn transition-colors;
}

.hover-border {
  @apply hover:ring-2 ring-cayn transition-shadow;
}

.animation-skeleton {
  @apply relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:bg-gradient-to-r before:from-white/0 before:via-white/10 before:animate-[shimmer_1.5s_infinite];
}

.filter-img {
  @apply relative before:absolute before:inset-0 before:bg-gray/10;
}

.square-img {
  @apply w-full aspect-square object-cover;
}

.grid-container {
  @apply w-full grid grid-cols-2 md:grid-cols-4 gap-2 sm:gap-5;
}

.big-title {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold;
}
